@keyframes heartBeat {
  0% {
    opacity: 0;
    transform: translateY(0vmin);
  }
  25% {
    opacity: 1;
    transform: translateY(-5vmin) translateX(-2vmin);
  }
  50% {
    opacity: 1;
    transform: translateY(-15vmin) translateX(2vmin);
    filter: blur(0.2vmin);
  }
  75% {
    transform: translateY(-20vmin) translateX(-2vmin);
    filter: blur(0.2vmin);
  }
  100% {
    transform: translateY(-30vmin);
    opacity: 0;
    filter: blur(1vmin);
  }
}  

.container {
  position: relative;
  width: 300px;
  height: 300px;
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 90px;
  margin-top: -45px;
  margin-left: -50px;
  animation: heartBeat 4s infinite;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background-color: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.heart:nth-child(1) {
  top: 50px;
  left: 100px;
}

.heart:nth-child(2) {
  top: 300px;
  left: 50px;
}